form{
    display: flex;
    flex-direction: column;
}
div{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 245);
} 
mat-card-content{
    height: 50%;
    width: 30%;
    padding: 3%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
mat-icon-button{
    background-color: aqua;
    color: aqua ;
}